
/* define vars ================================ */
// 青
$blue: #27B2FF;
// 紫
$purpule: #4112AA;
// ピンク
$pink: #C40087;


/* define mixin ================================ */

@mixin search-form-mixin(){
  
}
